
<div class="container">
<div class="page-header">
<h1 id="timeline">{{ message }}</h1>
</div>
<ul class="timeline">

  <li ng-repeat="access in accesses" ng-class="{'timeline-inverted' : access.face==0}">
    <div ng-show="access.face" class="timeline-badge success">
      <i class="glyphicon glyphicon-check" ></i>
    </div>

    <div ng-show="access.nfc==0" class="timeline-badge danger">
      <i class="glyphicon  glyphicon-remove"></i>
    </div>

    <div ng-show="access.face==0 && access.nfc==1" class="timeline-badge warning">
      <i class="glyphicon glyphicon-exclamation-sign"></i>
    </div>






    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title" </h4>{{ access.user }}
        <p><i class="glyphicon glyphicon-time"></i>{{ access.date }}</p>
      </div>

    </div>
  </li>

</ul>
<!--
  <li class="timeline-inverted">
  <div ng-if="obj.face =='false' and obj.nfc == 'false'" class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago</small></p>
    </div>
    <div class="timeline-body">
      <p>asdfadf</p></div>
  </div>
  </li>


  <li>
  <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago</small></p>
    </div>
    <div class="timeline-body">
        <p>asdfadf</p>
    </div>
  </div>
  </li>

<li>
<div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
<div class="timeline-panel">
  <div class="timeline-heading">
    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago</small></p>
  </div>
  <div class="timeline-body">
    <p>asdfadf</p>
  </div>
</div>
</li>-->



</div>
